Week 3 - Transcribe From an Audio
{
  "name": "My workflow 22",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        600,
        200
      ],
      "id": "5149fb7e-3118-4005-abdd-46732d103ad3",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://miaoli2025.mystagingwebsite.com/wp-json/wp/v2/posts?per_page=1",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        820,
        200
      ],
      "id": "17b0db01-8536-43c1-9110-0c98cc8d0f4b",
      "name": "HTTP Request",
      "credentials": {
        "httpBasicAuth": {
          "id": "JMonOiDyByyOLJ5s",
          "name": "Unnamed credential 5"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst updated = items.map(item => {\n  const post = item.json; // direct access, not as array\n  const title = post.title?.rendered;\n  const date = post.date;\n  const content = post.content?.rendered;\n\n  // fetch the audio/ video's URL（match src=\"...\")\n  const mediaMatch = content?.match(/src=\"([^\"]+\\.(mp3|mp4|m4a|mov|wav))\"/i);\n  const mediaUrl = mediaMatch ? mediaMatch[1] : null;\n\n  return {\n    json: {\n      title,\n      date,\n      mediaUrl,\n    }\n  };\n});\n\nreturn updated;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        200
      ],
      "id": "1bc275ca-2776-417d-9f3c-1cb8c07e225f",
      "name": "Code"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "binaryPropertyName": "=data",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1480,
        200
      ],
      "id": "084ee204-170c-4d62-82fe-acef9d3e80a6",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "uHhM3GMtCxg9mo7L",
          "name": "5MT n8n Sermon Publishing Workflow OpenAI Key"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.mediaUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1260,
        200
      ],
      "id": "81a69b20-5943-426c-bb57-9019190c5f85",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "operation": "update",
        "postId": "={{ $('HTTP Request').item.json.id }}",
        "updateFields": {
          "content": "={{ $('HTTP Request').item.json.content.rendered }}<hr><h2>Transcript</h2><p>{{ $json.text }}</p>"
        }
      },
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        1700,
        200
      ],
      "id": "db5df996-f431-4481-bfa7-b50a4c46bd2b",
      "name": "Wordpress",
      "credentials": {
        "wordpressApi": {
          "id": "fB81SHuaR22Hr2Pl",
          "name": "Wordpress account 19"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Wordpress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "560f3e86-2bb5-4cef-81b8-d0de4ff066eb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f318f1eeb582bef69a56797ad1f28184a54cfe51b0e461ee190c5740946ea07e"
  },
  "id": "VayyiKFAWxmDqUOA",
  "tags": []
}
