YouTube Video Generation
{
  "name": "My workflow 31",
  "nodes": [
    {
      "parameters": {
        "formTitle": "YouTube Shorts Generation",
        "formFields": {
          "values": [
            {
              "fieldLabel": "YouTube URL",
              "requiredField": true
            },
            {
              "fieldLabel": "How Many Shorts",
              "fieldType": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        0,
        0
      ],
      "id": "b046903f-84c0-4c9d-9d33-be106ef25744",
      "name": "On form submission",
      "webhookId": "a407242b-df1f-4826-a3ab-4978ef29d00e"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.klap.app/v2/tasks/video-to-shorts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "kak_qAKPEkXXq8u6FynihIfWS2zY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"source_video_url\": \"<{{ $json['YouTube URL'] }}>\",\n  \"language\": \"en\",\n  \"target_clip_count\": {{ $json['How Many Shorts'] }},\n  \"max_clip_count\": {{ $json['How Many Shorts'] }},\n  \"editing_options\": {\n    \"captions\": true,\n    \"reframe\": true,\n    \"emojis\": true,\n    \"remove_silences\": true,\n    \"intro_title\": false\n  },\n  \"min_duration\": 15,\n  \"max_duration\": 60,\n  \"target_duration\": 30\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        0
      ],
      "id": "ae5cd6d7-f6ac-4e54-9406-021d99265a3c",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "540a24c5-3ccb-4158-83a1-d7180f0a0ed4",
              "leftValue": "={{ $json.status }}",
              "rightValue": "ready",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        660,
        0
      ],
      "id": "2731fca0-542c-4c10-8f72-c0548119fa92",
      "name": "If"
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        880,
        100
      ],
      "id": "e097640e-d1f6-48c3-907c-29a0302a5ca9",
      "name": "Wait",
      "webhookId": "61f3b06b-a356-4204-bb5e-b7ad69911fe6",
      "disabled": true
    },
    {
      "parameters": {
        "url": "=https://api.klap.app/v2/tasks/{{ $json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "kak_qAKPEkXXq8u6FynihIfWS2zY"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        0
      ],
      "id": "1e0df7b0-0bf8-4e1a-8211-ce8d158b8f13",
      "name": "Check Status of Analysing the Video"
    },
    {
      "parameters": {
        "url": "=https://api.klap.app/v2/projects/{{ $json.id }}\n",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "kak_qAKPEkXXq8u6FynihIfWS2zY"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        -100
      ],
      "id": "7d301641-e255-4cd4-82f3-4968d74de3ae",
      "name": "Get Shorts Idea"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "<YOUR API KEY>"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        -100
      ],
      "id": "fa353622-5a98-4b7f-a58a-a6e251fae2ab",
      "name": "Create High Resolution Video"
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Check Status of Analysing the Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get Shorts Idea",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Check Status of Analysing the Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status of Analysing the Video": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Shorts Idea": {
      "main": [
        [
          {
            "node": "Create High Resolution Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a11db5ea-4245-4cb2-be99-e8a51ca4dae2",
  "meta": {
    "instanceId": "f318f1eeb582bef69a56797ad1f28184a54cfe51b0e461ee190c5740946ea07e"
  },
  "id": "pKUu13h3SDJAROFK",
  "tags": []
}
